
.service-main {
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: rgb(35, 35, 35);
  display: flex;
  flex-direction: column;
}

.service-heading {
  margin: 20px 0px;
  margin-left: 60px;
}

.gradient-text {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(90deg, #1E90FF, #20C997);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: dropIn 0.5s ease forwards;
}

.sub-head {
  font-size: 24px;
  margin: 20px auto;
  padding: 20px 20px;
  margin-bottom: 40px;
  color: white;
  animation: fadeUp 0.5s ease-out forwards;
}


.card-div {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding-bottom: 80px;
  margin: 20px auto;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 20px;
  transition: all 0.5s ease-in-out;
}
.card-div .card-img{
  width: 80px;
  height: 80px;
  margin: 20px auto;
  border: 1px solid;
  border-radius: 10px;
  
}
.card-div .card-img img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.card-div .card-heading{
  margin: 10px auto;
  font-size: 10px;
  padding-bottom: 10px;
  justify-content: center;
}

.card {
  position: relative;
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: auto;
  padding: 30px 50px;
  border-radius: 14px;
  background: rgb(35, 35, 35);
  color: #fff;
  z-index: 1;
  overflow: hidden;
  animation: dropIn 0.5s ease forwards;
}

.card::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: linear-gradient(60deg, #2af598, #009efd, #2af598, #0072ff), radial-gradient(circle at top left, rgba(255, 255, 255, 0.3), transparent);
  background-blend-mode: screen;
  background-size: 300% 300%;
  animation: glowMove 3s linear infinite;
  z-index: -1;
  border-radius: 10px;
  filter: blur(4px);
}

.card::after {
  content: '';
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  right: 2.5px;
  bottom: 2.5px;
  background: inherit;
  border-radius: 10px;
  z-index: -1;
}

@keyframes glowMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@media screen and (max-width: 940px) {
  .card-div {
      width: 90%;
      max-width: 100%;
      height: auto;
      margin: 50px auto;
      padding: 20px;
      justify-content: center;
      display: flex;
      flex-direction:column;
      flex-wrap: wrap;
      transition: all 0.5s ease-in-out;
    }
    .sub-head {
      font-size: 18px;
      margin: 10px auto;
      padding: 20px 20px;
      margin-bottom: 5px;
      color: white;
      animation: fadeUp 0.5s ease-out forwards;
      transition: all 0.5s ease-in-out;
    }
  
    .card {
      position: relative;
      width: auto;
      height: auto;
      max-width: 400px;
      font-size:medium;
      max-height: auto;
      margin: 4px auto;
      padding: 12px;
      border-radius: 10px;
      background: rgb(35, 35, 35);
      color: #fff;
      z-index: 1;
      overflow: hidden;
      animation: dropIn 0.5s ease forwards; 
      transition: all 0.5s ease-in-out;
    }
}